* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content:start;
    padding: 10px 0 0 0;
    


}
div {
    
    display: flex;
    box-sizing: content-box;
    
}
.box {
    display: flex;
    width: 80%;
    padding: 30px;
    background-color: gray;
    border: 0px solid black;
    margin:auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: 500;
    justify-content: left;
    
    transform: translateY(40px);
    
}
 .box:after { 
    content: '';
    position: absolute;
    display: flex;
    padding: 15px;
    margin: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    left: -25px;
    right: -25px;
    top: 0;
    bottom: 0;
   
}
.box:before {
    content: '';
    position: absolute;
    border-left: 1px solid black;
    border-right: 1px solid black;
    left: 0;
    right: 0;
    top: -25px;
    bottom: -25px;
}
@media screen and (min-width: 200px) {
    .box {
        min-width: 200px;
    }
}



/*.box:after, .box:before {
    position: absolute;
    content: "";  
}
.box:after {
    border-top: 1px solid #f00;
    border-bottom: 1px solid #f00;
    left: 0;
    right: 0;
    top: 25px;
    bottom: 25px;
    
}
.box:before {
    border-left: 1px solid #f00;
    border-right: 1px solid #f00;
    left: 25px;
    right: 25px;
    top: 0;
    bottom: 0;
} 