table {
    border: solid 1px;
    background: burlywood;
    overflow: hidden;
    width: 70%;
    margin: 10% auto 0;
    border-radius: 5px;

}
th, td {
    padding: 18px 28px 18px;
    text-align: center;
}

th {
    padding-top: 22px;
    text-shadow: 1px 1px 1px #aaaaaa;
    background: crimson;
}

td {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

