body {
    position: relative;
}

.image {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: 250px;
    -webkit-transform: -webkit-transform 1s;
} 

.image:hover {
    -webkit-transform: rotate(-30deg) translateZ(0);
}